@charset "UTF-8";

/* CSS Document */

@media only screen and (min-width : 1300px) and (max-width: 1920px) {


}


@media screen and (min-width: 320px) and (max-width: 1199px) {
	
.side-section {
	display:none;
}

.right-section {
	margin-left: 0;
}
#Login {
	margin: auto;
}
header {
	text-align: center;
}
.logo {
	margin-left: 0;
}
}
